.card {
    display: flex;
    flex-direction: row;
     align-items: center;
}

.card {
    width: 300px;
    /* height: 350px; */
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.card-title {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    
}       

.card-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
    color: #555;
    text-wrap: wrap;

}

.delete-product {
    width: 200px;
    background-color: rgba(255, 28, 28, 0.596);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}